h1, h2, h3, h4, h5, p, a, span, button {
  font-family: "Lato", sans-serif; }

ul {
  margin: 0; }

#watches {
  text-align: center;
  max-width: 1400px;
  margin: 10px auto; }
  @media screen and (max-width: 768px) {
    #watches {
      max-width: 100%; } }
  #watches ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0; }
    #watches ul li {
      list-style: none;
      margin: 10px; }
  #watches .refinement-link {
    background: #fff;
    color: #000;
    cursor: pointer;
    border: 2px solid #000;
    padding: 10px;
    min-width: 100px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    text-decoration: none; }
    #watches .refinement-link:hover, #watches .refinement-link.active {
      background: #000;
      color: #fff; }
    #watches .refinement-link.clear {
      margin: 10px auto;
      border: none;
      text-decoration: underline; }
      #watches .refinement-link.clear:hover, #watches .refinement-link.clear.active {
        background: #fff;
        color: #000; }

.watch {
  width: 25%;
  max-width: 300px; }
  @media screen and (max-width: 1200px) {
    .watch {
      width: 40%; } }
  @media screen and (max-width: 768px) {
    .watch {
      width: 43.5%;
      max-width: initial; } }
  .watch .watch__link {
    text-decoration: none;
    color: #000;
    background: none;
    border: none;
    padding: 0;
    display: block; }
    .watch .watch__link .watch__link--color {
      width: 40px;
      height: 40px; }
      @media screen and (max-width: 768px) {
        .watch .watch__link .watch__link--color {
          width: 30px;
          height: 30px; } }
  @media screen and (max-width: 768px) {
    .watch .watch__image {
      width: 100%; } }
  .watch .watch__name {
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    text-decoration: none;
    margin: 0;
    font-size: 16px; }
  .watch .watch__price {
    margin: 5px;
    text-align: right;
    font-size: 14px; }

@media screen and (min-width: 769px) {
  .slick-slider {
    width: 300px;
    margin: auto; } }

.slick-list {
  width: 129px; }
  @media screen and (min-width: 769px) {
    .slick-list {
      width: 270px; } }

.slick-arrow {
  background: none;
  border: none;
  padding: 0 3px; }
  @media screen and (min-width: 769px) {
    .slick-arrow {
      padding: 0; } }
  .slick-arrow.slick-disabled {
    visibility: hidden; }
  .slick-arrow .fa {
    font-size: 20px; }
