$white: #fff;
$black: #000;
$font-family: 'Lato', sans-serif;

h1, h2, h3, h4, h5, p, a, span, button {
    font-family: $font-family;
}
ul {
    margin: 0;
}
#watches {
    text-align: center;
    max-width: 1400px;
    margin: 10px auto;
    @media screen and (max-width: 768px) {
        max-width: 100%;
    }
    ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0;
        li {
            list-style: none;
            margin: 10px;
        }
    }
    .refinement-link {
        background: $white;
        color: $black;
        cursor: pointer;
        border: 2px solid $black;
        padding: 10px;
        min-width: 100px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: bold;
        text-decoration: none;
        &:hover,
        &.active {
            background: $black;
            color: $white;
        }
        &.clear {
            margin: 10px auto;
            border: none;
            text-decoration: underline;
            &:hover,
            &.active {
                background: $white;
                color: $black;
            }
        }
    }
}
.watch {
    width: 25%;
    max-width: 300px;
    @media screen and (max-width: 1200px)  {
        width: 40%;
    }
    @media screen and (max-width: 768px) {
        width: 43.5%;
        max-width: initial;
    }
    .watch__link {
        text-decoration: none;
        color: $black;
        background: none;
        border: none;
        padding: 0;
        display: block;
        .watch__link--color {
            width: 40px;
            height: 40px;
            @media screen and (max-width: 768px) {
                width: 30px;
                height: 30px;
            }
        }
    }
    .watch__image {
        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }
    .watch__name {
        font-weight: bold;
        text-transform: uppercase;
        text-align: left;
        text-decoration: none;
        margin: 0;
        font-size: 16px;
    }
    .watch__price {
        margin: 5px;
        text-align: right;
        font-size: 14px;
    }
} 
.slick-slider {
    @media screen and (min-width: 769px) {
        width: 300px;
        margin: auto;
    }
}
.slick-list {
    width: 129px;
    @media screen and (min-width: 769px) {
        width: 270px;
    }  
}
.slick-arrow {
    background: none;
    border: none;
    padding: 0 3px;
    @media screen and (min-width: 769px) {
        padding: 0;
    }  
    &.slick-disabled {
        visibility: hidden;
    }
    .fa {
        font-size: 20px;
    }
}