h1, h2, h3, h4, h5, p, a, span {
    font-family: sans-serif;
}
#watches {
    text-align: center;
    max-width: 1400px;
    margin: 0 auto;
    ul {
        display: flex;
        justify-content: center;
        padding: 0;
        li {
            list-style: none;
            margin: 10px;
            .refinement-link {
                background: #000;
                color: #fff;
                padding: 10px;
                min-width: 100px;
                display: block;
                text-decoration: none;
            }
        }
    }
}

.watch-list {
    flex-wrap: wrap;
}

.watch {
    .watch__link {
        text-decoration: none;
        color: #000;
        background: none;
        border: none;
        padding: 0;
        .watch__link--color {
            width: 40px;
            height: 40px;
            
        }
    }
    .watch__swatch {
        justify-content: flex-start !important;
        width: 300px;
        overflow: hidden;
    }
    .watch__name {
        font-weight: bold;
        text-transform: uppercase;
        text-align: left;
        text-decoration: none;
        margin: 0;
        font-size: 16px;
    }
    .watch__price {
        margin: 5px;
        text-align: right;
        font-size: 14px;
    }
} 

.slick-arrow {
    background: none;
    border: none;
    padding: 0;
    &.slick-disabled {
        visibility: hidden;
    }
    .fa {
        font-size: 20px;
    }
}